button {
    border-radius: 0;
    padding: 0.5em 1em;
    background: $brand-bright-red;
    color: $white;
    border: 0;

    &.fullscreen {
        font-size: 2rem;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        white-space: nowrap;
    }
}