// App
// Master stylesheet for the app.
// ------------------------------

// Setup
@import "base/config";
@import "base/mixins";
@import "base/normalize";

// Common
@import "global/buttons";
@import "global/panels";
@import "global/typography";

*, *:before, *:after {
    box-sizing: border-box;
}

// General
html {
    height: 100%;
}

body {
    font-size: $font-size-root;
    background: $black;
    color: $white;
    height: 100%;
}

// Container setup
#app > div > div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    background: rgba($white, 0.9);
    color: $black;
    border-bottom: 1px solid $white;
    padding: 1rem;
    align-items: center;
    
    .wordmark {
        margin: 0;
        padding: 0;
        line-height: 1;
        font-size: 1.8em;
    }

    .logo {
        width: 4rem;
        margin-right: 1rem;
    }
}
